* {
  margin: 0;
}
h1,
p {
  font-family: Lato;
}
.header99 {
  background-color: rgb(0, 188, 180);
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDzSoYdaZCH-hSYvGfHxe1R8lxMm_ZRhmHeg&usqp=CAU);
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  width: 50px;
}
.flex {
  display: flex;
  flex-direction: row;
}
.topbar {
  color: white;
  font-size: 14px;
  padding: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mlauto {
  margin-left: auto;
}
.mr10 {
  margin-right: 10px;
}

.flatList {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
  border: 1px solid pink;
  padding: 10px;
}
.flatList::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.flatList {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.flatList div {
  margin: 10px;
  text-align: center;
}

.imgThumb {
  height: 50px;
  border-radius: 6px;
}

.captionBar {
  display: flex;
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Sarabun', sans-serif;
  padding-left: 5px;
}
.captionBar .right {
  margin-left: auto;
  margin-right: 5px;
}
