* {
  margin: 0;
  box-sizing: border-box;
}
h1,
p {
  font-family: Lato;
}
.header99 {
  background-color: rgb(0, 188, 180);
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDzSoYdaZCH-hSYvGfHxe1R8lxMm_ZRhmHeg&usqp=CAU);
  height: 26vh;
  background-repeat: no-repeat;
  background-size: contain;
}
.logo {
  width: 50px;
}
.flex {
  display: flex;
  flex-direction: row;
}
.topbar {
  color: white;
  font-size: 14px;
  padding: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mlauto {
  margin-left: auto;
}
.mr10 {
  margin-right: 10px;
}

.flatList {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
  border: 1px solid whitesmoke;
  padding: 10px;
  padding-top: 5px;
  margin: 10px;
  margin-top: 5px;
  margin-left: auto;
}

.flatList90 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: calc(100% - 20px);
  overflow-x: scroll;
  border: 1px solid whitesmoke;
  margin: 10px;
  padding: 10px;
  padding-right: 20px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);
}

.flatList::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.flatList {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.flatList div {
  margin: 10px;
  text-align: center;
}

.imgThumb {
  height: 50px;
  border-radius: 6px;
}
.Caption {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
}
.captionBar {
  display: flex;
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Sarabun', sans-serif;
  padding-left: 5px;
}
.captionBar .right {
  margin-left: auto;
  margin-right: 5px;
}
.itemCircle {
  padding: 5px;

  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8ed1fc;
  margin-left: 10px;
  margin-right: 5px;
  border: none;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
  font-weight: 400;
  min-width: 32px;
  font-size: 25px;
}

.itemCircle:hover {
  color: cornflowerblue;
}
.myBanner1Image {
  height: 100px;
  width: 100%;
  margin: 5px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
}

.myBanner2Image {
  height: 100px;
  width: 50%;
  margin: 5px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
}

.box2Col {
  width: 50%;

  padding: 5px;
}
.box2Col div {
  display: flex;
  border: 1px solid lavender;
  justify-content: center;
  padding: 5px;
}
.box2Col div img {
  justify-content: center;
  align-content: center;
  height: 150px;
  max-width: 45%;
}
.box2Col .caption {
  color: #4e4e4e;
}
.center {
  text-align: center;
  justify-content: center;
}
.flexWrap {
  flex-wrap: wrap;
}
.boxShadow {
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
}

.boxCaption {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  height: 60px;
  font-size: 12px;
}
.boxGrass {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

.lineClamp3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.extraClass {
  border: 10px solid red;
  height: 30px;
  width: 100%;
}
.mlAuto {
  margin-left: auto;
}
.fullWidth {
  width: 100%;
}
.swiperContainer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100%;
  border: 1px solid whitesmoke;
}

.imgSwiper {
  width: 100%;
  height: 300px;
}

.swiper-slide,
.swiper-slide-active {
  text-align: center !important;
}

@media only screen and (min-width: 900px) {
  .swiperContainer {
    height: 400px;
  }
  .imgSwiper {
    height: 400px;
  }
}
div {
  /* margin-top: 10px; */
  padding: 2px;
}
.divHeart {
  padding: 5px;
  font-size: 25px;
  padding-left: 15px;
  padding-right: 20px;
}
.active {
  background-color: #fbe7ee;
  /* background-color: #e8f0fe; */
  border-bottom: 2px solid #e8f0fe;
  padding: 10px;
  min-width: 100px;
  cursor: pointer;
  border-radius: 6px;
  /* box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%); */
  text-align: center;
}
.nonactive {
  background-color: white;
  padding: 10px;
  min-width: 100px;
  cursor: pointer;
  text-align: center;
}

.btn {
}
.border {
  border: 1px solid lightgrey;
  padding: 10px;
  min-height: 200px;
  margin-bottom: 50px;
}
.boxDesc {
  margin-bottom: 50px;
  color: #8f8c8c;
  font-size: 14px;
  line-height: 30px;
}
.fontSarabun {
  font-family: 'Sarabun', sans-serif;
}
.boxRight {
  margin-left: auto;
}
.price {
  color: red;
  font-weight: bold;
}

.box2 {
  background-color: #eaebec;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 6px;
}
.txtnumOrder {
  border-radius: 0px;
  border: 1px solid lightgray;
  text-align: center;
  width: 50px;
  height: 30px;
  padding: 10px;
}
.btnSub,
.btnAdd {
  height: 30px;
  width: 35px;
}

.btnSub {
  border-radius: 6px 0px 0px 6px;
  background-color: whitesmoke;
}
.btnAdd {
  border-radius: 0px 6px 6px 0px;
}
.myBadge {
  position: relative;
  top: -40px;
  left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: red;
  color: white;
  font-size: 14px;
  border-radius: 50%;
}

.myContainer {
  width: calc(100% - 10px);
  margin: 5px;
  border: 1px solid whitesmoke;
  padding: 2px;
}

